* {
    font-family: 'Kosugi Maru', sans-serif;  
}

h3 {
    font-family: 'Lato', sans-serif;
}

.card {
    margin: 1px;
    box-shadow: 0 2px 5px #ccc;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.card-header {
    display: flex;
    justify-content: center;
   }

.container {
    padding-top: 10px;
}

.click-me {
    margin-left: 1000px;
}

.factfile{
    font-family: 'Kosugi Maru', sans-serif;
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding-top: 20px;
    padding: 7% 15%;
}

.list {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding-top: 20px;
    text-align: center;
    word-wrap: break-word
}

.list-item {
    margin: 15px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    list-style-image: url("./assets/pokeballgif.gif");
}

.navbar-title {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: gray;
}

.nav-item {
    margin: 15px; 
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
}

.pagination-button {
    margin: 25px;
}

@media (max-width: 500px) {

    .click-me {
        margin-left: 200px;
    }

    .phoneflavor {
    
        font-size: 15px;
    }

    .pokeball-list-text {

        font-size: 5px;
        word-wrap: break-word
    }

}

